<aside class="w-64 bg-green-700 text-white min-h-screen p-6">

    <h1 class="text-3xl font-bold mb-10">
        Agro ERP
    </h1>

    <nav class="space-y-3">

        <a href="/admin"
           class="block hover:bg-green-600 p-3 rounded-xl transition">
           Dashboard
        </a>

        <a href="/clients"
           class="block hover:bg-green-600 p-3 rounded-xl transition">
           Clients
        </a>

        <a href="/produits"
           class="block hover:bg-green-600 p-3 rounded-xl transition">
           Produits
        </a>

        <a href="/factures"
           class="block hover:bg-green-600 p-3 rounded-xl transition">
           Factures
        </a>

        <a href="/logout"
           class="block bg-red-500 hover:bg-red-600 p-3 rounded-xl transition mt-10 text-center">
           Logout
        </a>

    </nav>

</aside>