<!DOCTYPE html>
<html>

<head>

    <title>Admin Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/output.css">

</head>

<body class="bg-gray-100">

  <div class="p-10">

    <h1 class="text-4xl font-bold text-green-700 mb-8">
      Agro ERP Dashboard
    </h1>
    <a href="/logout"
   class="inline-block mb-6 bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition">
   Logout
</a>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

  <div class="bg-white rounded-2xl shadow p-6 border-l-8 border-blue-500">
    <h2 class="text-gray-500 text-lg">Clients</h2>
    <p class="text-5xl font-bold mt-4 text-blue-600">
      <%= totalClients %>
    </p>
  </div>

  <div class="bg-white rounded-2xl shadow p-6 border-l-8 border-green-500">
    <h2 class="text-gray-500 text-lg">Produits</h2>
    <p class="text-5xl font-bold mt-4 text-green-600">
      <%= totalProduits %>
    </p>
  </div>

  <div class="bg-white rounded-2xl shadow p-6 border-l-8 border-red-500">
    <h2 class="text-gray-500 text-lg">Factures</h2>
    <p class="text-5xl font-bold mt-4 text-red-600">
      <%= totalFactures %>
    </p>
  </div>

</div>
    

  </div>

</body>


</html>