<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body class="bg-gray-100">

<div class="flex min-h-screen">

  <%- include("partials/sidebar") %>

  <main class="flex-1 p-10">

    <%- include("partials/navbar") %>

  <h1 class="text-4xl font-bold">
    Dashboard
</h1>

  </main>

</div>

<%- include("partials/scripts") %>

</body>
</html>