<!DOCTYPE html>
<html>

<head>

    <title>Clients</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="content">

    <h1>Clients</h1>

    <form method="POST" action="/add-client">

        <input type="text"
        name="nom"
        placeholder="Nom">

        <input type="text"
        name="telephone"
        placeholder="Téléphone">

        <input type="text"
        name="adresse"
        placeholder="Adresse">

        <button type="submit">
            Ajouter
        </button>

    </form>

    <br>

    <table border="1" cellpadding="10">

        <tr>

            <th>ID</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Adresse</th>

        </tr>

        <% clients.forEach(client => { %>

            <tr>

                <td><%= client.id %></td>

                <td><%= client.nom %></td>

                <td><%= client.telephone %></td>

                <td><%= client.adresse %></td>

            </tr>

        <% }) %>

    </table>

</div>

</body>
</html>